<html xmlns:th="http://www.w3.org/1999/xhtml">
    <body>
        <p>Congratulations! You pass but you shouldn't!</p>
        <p th:text="${exhibitorDTO.company} + ' has been added to the database!'"></p>
    </body>
</html>