<html xmlns:th="http://www.w3.org/1999/xhtml">
    <body>
        <p>Congratulations! You pass but you shouldn't!</p>
        <p th:text="${visitorDTO.name} + ' ' + ${visitorDTO.surname} + ' has been added to the database!'"></p>
        <p>Here is your QR code:</p>
        <img th:src="@{https://api.qrserver.com/v1/create-qr-code/(size='150x150',data=${visitorDTO.id})}"/>
    </body>
</html>