<html xmlns:th="http://www.w3.org/1999/xhtml">
    <body>
        <h1 th:text="${eventid}">Wydarzenie</h1>
        <form action="#" th:action="@{/register-visitor}" th:object="${visitorDTO}" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                <tr>
                    <td>Surname:</td>
                    <td><input type="text" th:field="*{surname}" /></td>
                    <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" th:field="*{age}" /></td>
                    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" th:field="*{address}" /></td>
                    <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" th:field="*{city}" /></td>
                    <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</td>
                </tr>
                <tr>
                    <td>Postal code:</td>
                    <td><input type="text" th:field="*{postalCode}" /></td>
                    <td th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Postal code Error</td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td><input type="text" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail Error</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>