<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel='stylesheet' href='webjars/bootstrap/4.0.0/css/bootstrap.min.css'/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-10">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <th scope="col">ID</th>
                            <th scope="col">Company</th>
                            <th scope="col">e-mail</th>
                        </thead>
                        <tbody>
                            <th:block th:each="exhibitor : ${exhibitors}">
                                <tr>
                                    <th scope="row" th:text="${exhibitor.id}"></th>
                                    <td th:text="${exhibitor.company}"></td>
                                    <td th:text="${exhibitor.email}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>